.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.deleteBtn {
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    background-color: #b95252;
}